{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Which of these do you like?{% endblock %}

{% block content %}
{{ govukBackLink({ text: "Back", href: "/apply/details" }) }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="/apply/preferences" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      {{ govukCheckboxes({
        idPrefix: "preferences",
        name: "preferences",
        fieldset: {
          legend: {
            text: "Which of these do you like?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: items
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
