{% extends "layout.njk" %}

{% block pageTitle %}Choose a service{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Choose a service</h1>

    <p class="govuk-body">Use this service to apply for support, or to pay the council.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/apply/details">Submit a general application</a>
    </h2>
    <p class="govuk-body">Start the original application.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/apply-housing/details">Apply for housing</a>
    </h2>
    <p class="govuk-body">Apply for housing support.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/apply-housing-benefit/details">Apply for Housing Benefit (disability)</a>
    </h2>
    <p class="govuk-body">Apply for Housing Benefit if you have a disability.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/choose-service">Not sure which service you need?</a>
    </h2>
    <p class="govuk-body">Tell us what you'd like to do and we'll recommend the right service for you.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/pay-council-tax/details">Pay council tax</a>
    </h2>
    <p class="govuk-body">Pay your council tax bill.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/pay-garden-waste/details">Pay for garden waste</a>
    </h2>
    <p class="govuk-body">Pay for your garden waste collection subscription.</p>
  </div>
</div>
{% endblock %}
