{% extends "layout.njk" %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

    <p class="govuk-body">Use this service to apply for support, or to find out which application is right for you.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/apply/details">Apply</a>
    </h2>
    <p class="govuk-body">Start the original application.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/apply-housing/details">Apply for housing</a>
    </h2>
    <p class="govuk-body">Apply for housing support.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/apply-housing-benefit/details">Apply for Housing Benefit (disability)</a>
    </h2>
    <p class="govuk-body">Apply for Housing Benefit if you have a disability.</p>

    <h2 class="govuk-heading-m">
      <a class="govuk-link" href="/choose-service">Not sure which service you need?</a>
    </h2>
    <p class="govuk-body">Tell us what you'd like to do and we'll recommend the right service for you.</p>
  </div>
</div>
{% endblock %}
